/* MAIN PAGE */
:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --blue-elements: #2196f3;
  --white-elements: #ffffff;
  --secondary-background: #2f303a;
  --team-background-color: #f5f4fa;
  --address-links-color: rgba(255, 255, 255, 0.6);
  --background-portfolio-frames: #f5f5f5;
  --black-elements: #000000;
}
body {
  color: var(--primary-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-elements);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  margin: 0;
}
button {
  margin: 0;
  padding: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header {
  border-bottom: 1px solid #ececec;
  margin-bottom: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header_thumb {
  display: flex;
  align-items: center;
}
/* Logo */
.logo {
  margin-right: 92px;
  color: var(--black-elements);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-web {
  color: var(--blue-elements);
}
/* Site nav */

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav_list {
  display: flex;
}
.site-nav_item:not(:last-child) {
  margin-right: 50px;
}
.site-nav_link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-color);
  text-decoration: none;
}
.site-nav_link:hover,
.site-nav_link:focus {
  color: var(--blue-elements);
}
.site-nav_link.current {
  color: var(--blue-elements);
}
/* Contacts */
.contact {
  color: var(--secondary-color);
}
.contacts-nav {
  display: flex;
  margin-left: auto;
}
.contacts-nav_item:not(:last-child) {
  margin-right: 50px;
}
.contacts-nav .contact:hover,
.contacts-nav .contact:focus {
  color: var(--blue-elements);
}
/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: var(--white-elements);
  background-color: var(--secondary-background);
}
.hero .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

/* Features */
.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.features-item {
  width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-article {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.71;
}
.center-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* Work */
.work {
  padding-top: 0;
}
.work-list {
  display: flex;
  list-style: none;
}
.work-list_item:not(:last-child) {
  margin-right: 30px;
}
/* Team */
.team {
  padding-top: 0;
  background-color: var(--team-background-color);
}
.team-list {
  display: flex;
  list-style: none;
}
.team-item {
  margin-bottom: 34px;
  background-color: var(--white-elements);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item_img {
  margin-bottom: 30px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.members-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.members-position {
  margin-bottom: 30px;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Address */
.footer {
  background-color: var(--secondary-background);
}
.footer .logo {
  color: var(--white-elements);
}
.footer-logo {
  display: block;
  margin-right: 0;
  padding-top: 60px;
  padding-bottom: 20px;
}
.address {
  padding-bottom: 60px;
  display: block;
  width: 231px;
  color: var(--white-elements);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.contact-footer {
  margin-top: 9px;
  display: block;
}
.address .contact-footer {
  color: var(--address-links-color);
  text-decoration: none;
}
.address .contact-footer:hover,
.address .contact-footer:focus {
  color: var(--blue-elements);
}
/* Buttons */
.button {
  background-color: var(--blue-elements);
}
.button.primary {
  color: var(--white-elements);
}
.button.secondary {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.44;

  background-color: var(--team-background-color);

  cursor: pointer;
}
.order-button {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  cursor: pointer;
}
.buttons-list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 50px;
  list-style: none;
  gap: 8px;
}
.portfolio_btn {
  display: flex;
  border: none;
  padding: 6px 20px;
  border-radius: 4px;
}

.buttons-list .button.secondary:hover,
.buttons-list .button.secondary:hover {
  color: var(--white-elements);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--blue-elements);
}

/* PORTFOLIO */

.projects {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.projects-list {
  width: 370px;
  margin-right: 30px;
}
.projects-list:nth-child(3n) {
  margin-right: 0;
}
.projects-link {
  text-decoration: none;
}
.projects-title {
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  letter-spacing: 0.06em;
}
.projects-type {
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
